body {
    
    font-family: Arial, Helvetica, sans-serif;
    color: #222;
    background-color: rgb(243, 235, 239);
    
  }
  h1 { background-color: cornsilk;
     
}
  
  .emoji {
    border: 1px solid #222;
    border-radius: 8px;
    padding: 1rem;
    flex-wrap: wrap;
    justify-content: space-between;
    flex-direction: column;
    display: flex;
    
  }
  
 
  .emoji h2 {
    margin: 0;
    border-bottom: 2px solid #ccc;
  }
  
  .emoji a {
    text-decoration: none;
    background-color: #781BAA;
    color: white;
    padding: 1rem;
    border-radius: 8px;
    
  }
  
  .icon {
    font-size: 4rem;
    order:-1;
    align-self: center;
  }

  .emojis{
    display: grid;
    column-gap: 1rem;
    row-gap: 1rem;
    grid-template-columns:485px 485px;
  }